<div class="row pb-2">
  <div class="col-md-8">
     <h4 class=""><img src="/assets/images/services.png"
          alt="Ideal Automotive Services" class="main-img img-fluid">
        Our Services In Details
      </h4>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle class = "title-styles">
      <span class="text-primary title-styles">
        <img src="/assets/images/full-service.png" width="32" height="32"
             alt="Ideal Automotive Services" class="main-img img-fluid"> Full Service
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>Having a full service on your vehicle,  includes : topping up of the brake fluid and coolant,
      brake checks, inspection of the engine, wheel bearings and shock absorbers, replacement
      of pollen filters and inspection of the air conditioning system.</p>
      <p>The cost of a full service usually includes everything apart from any parts specified as requiring
      replacement in your vehicle's servicing schedule, such as fuel filters, spark plugs etc.
      These can be added as chargeable extras.</p>
      <p>To know more about full service, the cost and replacement parts, visit our
        <a class ="" routerLink="/services/fullservice"> full service </a> page
      </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle >
      <span class="text-primary title-styles">
        <img src="/assets/images/oil.png" width="32" height="32"
             alt="Ideal Automotive Services" class="img-fluid"> Oil Change
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>An oil change service is the most basic level of car service which will get you a stamp
      in your service book and the car’s service clock reset, if applicable. The engine oil and oil filter
      will be changed, some additional safety checks will be made and some moving parts will be lubricated.
      The checks will be centred around the horn, lights, brakes, fluid levels, exhaust, tyres and
      searching for any fluid leaks in the car.</p>
      <p>To know more about oil change, the cost and replacement parts, visit our
        <a class ="" routerLink="/services/oilchange"> oil change </a> page.
      </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3">
    <ng-template ngbPanelTitle>
      <span class="text-primary title-styles">
        <img src="/assets/images/custom-repairs.png" width="32" height="32"
             alt="Ideal Automotive Services" class="img-fluid"> Custom Repairs
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
       <p>Custom repairs involves all automobile repairs on your vehicle. There are
       different kinds of repairs we carry out, ranging from engine problems, timing
       belt or fan belt change, injector cleaning, tune ups and host of other things.
       </p>
       <p>We are happy to solve all your problems as long as your vehicle is listed
         as one that we work on. You will find a list of vehicles we work on our home
         or custom repair pages.
       </p>
      <p>To know more about custom repairs, what we do or the cars we work on, visit our
        <a class ="" routerLink="/services/customrepairs"> custom repairs </a> page.
      </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-4">
    <ng-template ngbPanelTitle>
      <span class="text-primary title-styles">
        <img src="/assets/images/electrical.png" width="32" height="32"
             alt="Ideal Automotive Services" class="img-fluid"> Electrical Repairs
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>
         Car electricals are an important aspect of a functioning vehicle. We provide excellent electrical repair
         services to take care of your vehicle's electrical faults. Some of the electrical services
         we provide are : computer diagnostics, engine controls, batteries, starters, alternators ,
         ignition diagnosis and repairs.
      </p>
      <p>To know more about electrical repairs, computer diagnostics and batteries visit our
        <a class ="" routerLink="/services/electricalrepairs"> electrical repairs </a> page.
      </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-5">
    <ng-template ngbPanelTitle>
      <span class="text-primary title-styles">
        <img src="/assets/images/ac.png" width="32" height="32"
             alt="Ideal Automotive Services" class="img-fluid"> Heating and Cooling
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
       <p>
          Heating and A/C systems are under constant uses and may eventually break with usage,
          hoses may clog or crack causing reduced performance of your system and possibly lead
          to total failure. We provide impeccable heating and cooling services to help make your
          vehicle's heating and cooling stay perfect.
       </p>
       <p>To know more about electrical repairs, computer diagnostics and batteries visit our
         <a class ="" routerLink="/services/heating"> heating and cooling </a> page.
       </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-6">
    <ng-template ngbPanelTitle>
      <span class="text-primary title-styles">
        <img src="/assets/images/wheels.png" width="32" height="32"
             alt="Ideal Automotive Services" class="img-fluid"> Brakes, Wheels & Alignment
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>
        Brakes are important to keep you safe on the raod, that is why we take brakes and wheels
        services as very important and of topmost priority. We offer brake repair, brake replacement,
        and brake upgrade services for your vehicle.
      </p>
      <p>To know more about brakes and wheels, visit our
         <a class ="" routerLink="/services/brakes"> brakes, wheel and alignment</a> page.
      </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-7">
    <ng-template ngbPanelTitle>
      <span class="text-primary title-styles">
        <img src="/assets/images/inspection.png" width="32" height="32"
             alt="Ideal Automotive Services" class="img-fluid"> Inspections
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
       <p>
          Automobile inspections at Ideal Automotive are of two types. The compresive and
          general vehicle inspections. Some of the basic things we do during an inspection
          are : checking the horn, windsheild wipers, mirrors, steering, seatbelts, brake system,
          tyres and wheels assembly.
       </p>
       <p>To know more about different types of inspections and what it entails , visit our
          <a class ="" routerLink="/services/inspections"> inspections</a> page.
       </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-8">
    <ng-template ngbPanelTitle>
      <span class="text-primary title-styles">
        <img src="/assets/images/slip.png" width="32" height="32"
             alt="Ideal Automotive Services" class="img-fluid"> Pink Slips
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>
        An eSafety (or pink slip) inspection report verifies that your vehicle is safe
        and ready for the road. Most light vehicles more than 5 years old will require
        an eSafety check before they can be registered in NSW. Your registration renewal
        papers will state whether or not you need an inspection.
      </p>
      <p>
        We will send the result of the test directly to Roads and Maritime Services.
      </p>
      <p>To know more about eSafety checks , visit our
         <a class ="" routerLink="/services/pinkslips"> eSafety (Pink slip) check </a> page.
      </p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
<div class="col-md-4 side">
     <div class="book">
         <h4 class=""><img src="/assets/images/booking.png"
           alt="Ideal Automotive Services" class="main-img img-fluid">
          Book a Service
         </h4>
         <div class="side1">
            <p>You can book a service online and save your yourself the hassles
               of having to wait if our team is busy.</p>
            <p>Once you book ahead online, we know you are coming at a particular time
               and we will have materials and needed tools on ground before your arrival,
               this will save you valuable time.Time is money !!!</p>
            <p>Booking online also gives you the added advantage of getting a courtesy
               car avialable for you while we fix your vehicle.</p>
               <button type="button" class="btn btn-primary ml-3"  (click)="onBook()">
                 Book now
               </button>
               <hr class="my-4 liner">
         </div>
     </div>
     <div class="extras">
       <h4 class=""><img src="/assets/images/wash.png"
         alt="Ideal Automotive Services" class="main-img img-fluid">
         Extras
       </h4>
       <div>
          <p>We wash your car after every full service or custom repairs.</p>
          <hr class="my-4">
          <p>You get a <span class="text-primary">$50 </span>discount on full service for a second
              vehicle owned by you.</p>
       </div>
       <hr class="my-4 liner">
     </div>

  </div>
</div>
