
<div class="row main-div">
   <div class="col-md-5">
     <h1 class="home-header display-6">Book a Service Now</h1>
     <img src="/assets/images/idealauto.jpg" alt="" class="img-fluid rounded">
     <hr>
     <div>
       <p class="text-primary">
         <img src="/assets/images/bullet.png" alt="" class="img-fluid" width="20" height="20">
         <b>Absolute quality guaranteed</b><p>
      <p class="text-primary">
        <img src="/assets/images/bullet.png" alt="" class="img-fluid" width="20" height="20">
        <b>You don't have to wait or join a queue</b></p>
      <p class="text-primary">
        <img src="/assets/images/bullet.png" alt="" class="img-fluid" width="20" height="20">
        <b>We can pre-order parts before your arrival</b></p>
      <p class="text-primary">
        <img src="/assets/images/bullet.png" alt="" class="img-fluid" width="20" height="20">
        <b>Come in and get your vehicle fixed immediately</b><p>
      <hr>
      <h5>Book online now and experience a different and effective way of fixing your automobiles.</h5>
      <hr>
      <button type="button" class="btn btn-primary" (click)="onBook()">
        Book now
      </button>
     </div>
     <hr class="my-4">
   </div>
   <div class="col-md-3">
      <h1 class="display-6 ">We are at </h1>
      <p class="text-primary"><b> Unit 4/5, 7 Malta Street</b></p>
      <p class="text-primary"><b> Fairfield East, NSW 2165 </b></p>
   </div>
   <div class="col-md-3">
      <h1 class="display-6">Call us </h1>
      <p class="text-primary"><b>02 97262301</b></p>
   </div>
</div>
