<h4 class="text-primary"><img src="/assets/images/slip.png"
     alt="Ideal Automotive Services" class="main-img img-fluid">
    Pink Slips
 </h4>
 <p> eSafety (Pink slip) check at ideal automotive includes : </p>
 <div>
      <ul class="list-group pb-2 text-primary col-md-6">
          <li class="list-group-item">Check your car is safe and ready for the road</li>
          <li class="list-group-item">Send the result to Road and Maritime Services</li>
          <li class="list-group-item">Issue you a certificate</li>
      </ul>
  </div>
  <hr>
  <p>Cost :</p>
  <p>Please call our service number <span class="text-primary"> 02 97262301 </span>for cost details. </p>
  <hr>
  <button type="button" class="btn btn-primary back mb-2" (click)="servicesPage()">
    Back to Services
  </button>
