<div class="row">

  <div class="col-md-7 menu pt-3">
     <a routerLink="/about" >About |</a>
     <a routerLink="/contact" >Contact |</a>
     <a routerLink="/disclaimer" >Disclaimer |</a>
     <a routerLink="/terms" >Terms & Conditions</a>
  </div>
  <div class="col-md-5 pt-1">
      <h5 class="mt-1"> Follow Us : 
      <a class="text-primary m-2" href="#">
         <img src="/assets/images/facebook.png" class="img-fluid  mt-0"
         width ="32" height="32" alt="follow us on facebook">

      </a>
      <a class="text-primary" href="#">
        <img src="/assets/images/instagram.png" class="img-fluid mt-0"
        width ="32" height="32" alt="follow us on instagram">

      </a></h5>
  </div>

  <div class="m-3 ">
     <p>Copyright &copy; 2018, <span>Ideal Automotive Pty</span>. All Rights Reserved.</p>
     <p>ABN : <span>xxx xxx xxxx </span> NSW License No.<span>xxx xxx xxxx </span></p>
  </div>

</div>
