<h4 class="text-primary"><img src="/assets/images/inspection.png"
     alt="Ideal Automotive Services" class="main-img img-fluid">
    Inspections
 </h4>
 <p> Inspections at ideal automotive includes : </p>
 <div>
      <ul class="list-group pb-2 text-primary col-md-6">
          <li class="list-group-item">Checking all exterior( headlights, windshield, wipers and body)</li>
          <li class="list-group-item">Checking tyres and suspension</li>
          <li class="list-group-item">Checking the engine</li>
          <li class="list-group-item">Checking the interior and frames</li>
          <li class="list-group-item">Checking the transmission, brakes and steering wheels</li>
          <li class="list-group-item">Making sure car manuals and log books are up to date</li>
      </ul>
  </div>
  <hr>
<p>Cost :</p>
<p>Please call our service number <span class="text-primary"> 02 97262301 </span>for cost details. </p>
<hr>
<button type="button" class="btn btn-primary back mb-2" (click)="servicesPage()">
  Back to Services
</button>
