<h4 class="text-primary"><img src="/assets/images/oil.png"
     alt="Ideal Automotive Services" class="main-img img-fluid">
    Oil Change
 </h4>
<p> An oil change service at ideal automotive includes : </p>
<div class="">
     <ul class="list-group pb-2 text-primary col-md-6">
         <li class="list-group-item">Changing of engine oil</li>
         <li class="list-group-item">Changing of oil filter</li>
         <li class="list-group-item">Safety checks</li>
         <li class="list-group-item">Lubrication of moving parts</li>
     </ul>
 </div>
 <hr>
 <p> Parts we replace : </p>
 <div class="">
    <ul class="list-group pb-2 text-primary col-md-6">
        <li class="list-group-item">Oil Filter</li>
        <li class="list-group-item">Spark plugs if necessary</li>
    </ul>
</div>
<hr>
<p> Fluids and Lubricants : </p>
<div class="">
     <ul class="list-group pb-2 text-primary col-md-6">
         <li class="list-group-item">Engine Oil</li>
     </ul>
</div>
<hr>
<p>Cost :</p>
<p>Please call our service number <span class="text-primary"> 02 97262301 </span>for cost details. </p>
<hr>
<button type="button" class="btn btn-primary back mb-2" (click)="servicesPage()">
  Back to Services
</button>
