<h4 class="text-primary"><img src="/assets/images/full-service.png"
     alt="Ideal Automotive Services" class="main-img img-fluid">
   Full Service
 </h4>
 <p> Full service at ideal automotive includes : </p>
 <div class="row">
    <div class="col-md-6">
         <ul class="list-group pb-2 text-primary">
             <li class="list-group-item">Topping up of the brake fluid</li>
             <li class="list-group-item">Topping up of the anti-freeze fluid</li>
             <li class="list-group-item">Carrying out brake checks</li>
             <li class="list-group-item">Inspection of the engine</li>
         </ul>
     </div>
     <div class="col-md-6">
          <ul class="list-group pb-2 text-primary">
              <li class="list-group-item">Checking wheel bearings and shock absorbers</li>
              <li class="list-group-item">Replacement of pollen filters</li>
              <li class="list-group-item">Inspection of the air conditioning system</li>
              <li class="list-group-item">Replacement of fuel filters and spark plugs</li>
          </ul>
      </div>
   </div>
   <hr>
   <div class="row">
     <div class="col-md-6">
        <p> Parts we replace : </p>
        <ul class="list-group pb-2 text-primary">
            <li class="list-group-item">Spark Plugs</li>
            <li class="list-group-item">Oil Filter</li>
            <li class="list-group-item">Pollen Filters</li>
            <li class="list-group-item">AC gas</li>
        </ul>
    </div>
    <div class="col-md-6">
         <p> Fluids and Lubricants : </p>
         <ul class="list-group pb-2 text-primary">
             <li class="list-group-item">Brake fluids</li>
             <li class="list-group-item">Power steering</li>
             <li class="list-group-item">Engine Oil</li>
             <li class="list-group-item">Coolant</li>
         </ul>
    </div>
</div>
<hr>
<p>Cost :</p>
<p>Please call our service number <span class="text-primary"> 02 97262301 </span>for cost details. </p>
<hr>
<button type="button" class="btn btn-primary back mb-2" (click)="servicesPage()">
  Back to Services
</button>
