<h4 class="text-primary"><img src="/assets/images/ac.png"
     alt="Ideal Automotive Services" class="main-img img-fluid">
    Heating and Cooling
 </h4>
 <p> Heating and Cooling at ideal automotive includes : </p>
 <div>
      <ul class="list-group pb-2 text-primary col-md-6">
          <li class="list-group-item">Heating</li>
          <li class="list-group-item">Air Conditioning</li>
          <li class="list-group-item">Water Pumps</li>
          <li class="list-group-item">Radiators</li>
          <li class="list-group-item">Compressors</li>
      </ul>
  </div>
  <hr>
  <p>List of some common repairs we do :</p>
  <div>
      <ul class="list-group pb-2 text-primary col-md-6">
          <li class="list-group-item">Radiotor Flush</li>
          <li class="list-group-item">Coolant System flush</li>
          <li class="list-group-item">Checking of belts and hoses</li>
          <li class="list-group-item">Replacement of parts</li>
      </ul>
  </div>
<hr>
<p>Cost :</p>
<p>Please call our service number <span class="text-primary"> 02 97262301 </span>for cost details. </p>
<hr>
<button type="button" class="btn btn-primary back mb-2" (click)="servicesPage()">
  Back to Services
</button>
