<h4 class="text-primary"><img src="/assets/images/wheels.png"
     alt="Ideal Automotive Services" class="main-img img-fluid">
     Brakes, Wheels and Alignment
 </h4>
 <p> Brakes, Wheels and Alignment Repairs at ideal automotive includes : </p>
 <div>
      <ul class="list-group pb-2 text-primary col-md-6">
          <li class="list-group-item">Wheels</li>
          <li class="list-group-item">Brakes and brake pads</li>
          <li class="list-group-item">Alignment</li>
          <li class="list-group-item">Tyres</li>
          <li class="list-group-item">Brake oil</li>
      </ul>
  </div>
  <hr>
  <p>List of some common repairs we do :</p>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group pb-2 text-primary">
          <li class="list-group-item">Wheel Balancing and alignment</li>
          <li class="list-group-item">Checking of brake pads and replacement</li>
          <li class="list-group-item">Bleeding of brake systems</li>
          <li class="list-group-item">Tyre inspection and replacement</li>
      </ul>
    </div>
    <div class="col-md-6">
       <ul class="list-group pb-2 text-primary">
           <li class="list-group-item">Topping up of brake oil</li>
           <li class="list-group-item">ABS checking and repairs</li>
           <li class="list-group-item">Brake upgrade services</li>

       </ul>
    </div>
</div>
<hr>
<p>Cost :</p>
<p>Please call our service number <span class="text-primary"> 02 97262301 </span>for cost details. </p>
<hr>
<button type="button" class="btn btn-primary back mb-2" (click)="servicesPage()">
  Back to Services
</button>
